* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AnonymousPro';
    src: url('AnonymousPro-Regular.ttf') format('truetype');
}

body {
    font-family: 'Kanit';
}

nav {
    margin-bottom: 1%;
}

.navbar-brand {
    margin-left: 4%;
    padding-bottom: 0%;
}

.navbar-collapse {
    justify-content: end;
    margin-right: 2%;
}

.navbar-toggler {
    margin-right: 3%;
}

.div1 {
    display: flex;
    align-items: center;
}

.img-fluid {
    border-radius: 20px;
}

.div2 {
    text-align: center;
    margin-bottom: 1%;
}

.div2 p {
    font-family: 'AnonymousPro';
    font-style: italic;
    font-weight: bold;
}

.div3 {
    background-image: linear-gradient(to right, rgb(152, 185, 247), rgb(224, 233, 250));
}

.listaFormacion {
    list-style:none;
}

.listaFormacion li {
    margin: 1%;
}

.subdiv {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subdiv2 {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding-top: 3%;
    padding-bottom: 3%;
}

.imagenHabilidad {
    width: 90%;
    height: 90%;
    border-radius: 3%;
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75);
}

.div5 {
    color: rgb(87, 54, 12);
    background-image: linear-gradient(to right, rgb(243, 97, 78), rgb(255, 195, 190));
}

@media screen and (max-width: 992px) {
    .div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1%;
    }    
    .img-fluid {
        height: 450px;
    }
}
@media screen and (max-width: 768px) {
    .subsubdiv1 {
        display: none;
    }
    .subsubdiv2 {
        display: none;
    }
    .subdiv2 {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}