* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'AnonymousPro';
    src: url('AnonymousPro-Regular.ttf') format('truetype');
}
body {
    font-family: 'Kanit';
}
nav {
    margin-bottom: 1%;
}
.navbar-brand {
    margin-left: 4%;
    padding-bottom: 0%;
}
.navbar-collapse {
    justify-content: end;
    margin-right: 2%;
}
.navbar-toggler {
    margin-right: 3%;
}
.div1 {
    display: flex;
    align-items: center;
}
.img-fluid {
    border-radius: 20px;
}
.div2 {
    text-align: center;
    margin-bottom: 1%;
}
.div2 p {
    font-family: 'AnonymousPro';
    font-style: italic;
    font-weight: bold;
}
.div3, .div4 {
    background-image: linear-gradient(to right, rgb(152, 185, 247), rgb(224, 233, 250));
}
.contenedorInformacion {
    background-color: rgb(38, 125, 255);
    color: white;
    font-size: 20px;
    margin-bottom: 1%;
    border-radius: 20px;
}
#masInformacion h4 {
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 0%;
}
#masInformacion p {
    text-align: center;
}
#divCierre {
    display: none;
    float: right;
    margin-right: 10px;
    color: black;
    font-size: 25px;
    color: brown;
    cursor:pointer;
}
.listaFormacion {
    list-style-type:"✎";
    margin-bottom: 0%;
}
.listaFormacion li {
    margin: 1%;
    border-radius: 10px;
}
.listaFormacion li:hover {
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75);
    color: brown;
    cursor:pointer;
}
.subdiv {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding-top: 3%;
    padding-bottom: 3%;
}
.imagenHabilidad {
    width: 90%;
    height: 90%;
    border-radius: 3%;
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75);
}
.estiloMasSobreMi {
    margin-bottom: 1%;
}
.div5 {
    background-image: linear-gradient(to right, rgb(247, 135, 120), rgb(255, 241, 241));
}
.divContacto {
    display: flex;
    justify-content: space-around;
}
.divContacto ul {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 25px;
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75);
    color: brown;
    margin-right: 1%;
    background-image: linear-gradient(to left, rgb(152, 185, 247), rgb(255, 255, 255), rgb(255, 255, 255));
    padding: 1%;
    list-style: none;
    border-radius: 20px;
}
form {
    display:flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
}
.pInputEstilo {
    width: 80%;
    align-self: center;
}
input {
    width: 100%;
    border-radius: 10px;
}
.estiloSubmit {
    width: 30%;
    margin: 1%;
    align-self: center;
    border: none;
    background-color: rgb(152, 185, 247);    
}
.estiloSubmit:hover {
    box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.75);
    color: brown;
}
footer {
    text-align: center;
}
footer a {
    font-weight: bold;
    color:brown;
    text-decoration: none;
}
@media screen and (max-width: 992px) {
    .div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1%;
    }  
    .div2 p {
        font-size: 19px;
    }  
    .img-fluid {
        height: 450px;
    }
    .div4 p {
        font-size: 20px;
    }
    .estiloMasSobreMi {
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .subdiv {
        flex-direction: column;
        align-items: flex-start;
    }
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .divContacto {
        flex-direction: column;
    }
    form {
        width: 100%;
    }
    .estiloSubmit {
        width: 50%;
    }
}
@media screen and (max-width: 400px) {
    .divContacto ul {
        font-size: 20px;
    }
}